/* root variables */
/* :root{
	--BGCOLOR: #687389;
} */

/* @media (prefers-color-scheme: dark) {
    :root {
        --BGCOLOR-FADE: gray;
        --BGCOLOR: #FF385C;
    }
} */

/* @media (prefers-color-scheme: blue) {
    :root {
        --BGCOLOR-FADE: gray;
        --BGCOLOR: blue;
    }
} */


/* .header-top {
	background: var(--BGCOLOR) ;
}
#main-menu ul li a:hover {
	background: var(--BGCOLOR) ;
}
#main-menu .dropdown-menu a:hover {
	background: var(--BGCOLOR) ;
}
.bloq-search input[type="text"] {
	border: 1px solid var(--BGCOLOR) ;
}
.bloq-search input[type="submit"] {
	background: var(--BGCOLOR) ;
}
.google-maps .filter {
	background: var(--BGCOLOR) ;
}
.section-title:before {
	background-color: var(--BGCOLOR) ;
}
.section-title h2 {
	color: var(--BGCOLOR) ;
}
.recently .homes-content .homes-list li {
	color: var(--BGCOLOR) ;
}
.recently .homes-content .homes-list li i {
	color: var(--BGCOLOR) ;
}
.first-footer .bloq-email .email input[type="submit"] {
	background: var(--BGCOLOR) ;
}
#navigation.style-1 .current {
    color: var(--BGCOLOR) ;
}
#navigation.style-1 ul li:hover {
    background: var(--BGCOLOR) ;
}
.twitter-widget.contuct .twitter-area .text h5 a {
	color: var(--BGCOLOR) ;
}
.first-footer .contactus ul li .fa {
    color: var(--BGCOLOR) ;
}
.first-footer .newsletters h3::after {
    background: var(--BGCOLOR) ;
}
a.button.border, a.button {
    background: var(--BGCOLOR) ;
}
.slick-prev:hover,
.slick-next:hover {
    color: transparent;
    outline: none;
    background: var(--BGCOLOR) ;
}
.welcome-title h2 span,
.welcome-title h2 span {
	color: var(--BGCOLOR) ;
}
.welcome .popup-youtube {
	color: var(--BGCOLOR) ;
}
.welcome .wprt-image-video .iq-waves .waves {
	background: rgb(24, 186, 96) none repeat scroll 0 0 padding-box;
}
.services-home .bg-base {
	background: var(--BGCOLOR) ;
}
.services-home a.text-base {
	color: var(--BGCOLOR) ;
}
.portfolio .homes-content .homes-list li {
	color: var(--BGCOLOR) ;
}
.portfolio .homes-content .homes-list li i {
	color: var(--BGCOLOR) ;
}
.top-location .owl-theme .owl-nav [class*=owl-] {
	background: var(--BGCOLOR) ;
}
.blog-section .news-item a:hover h3 {
	color: var(--BGCOLOR) ;
}
.blog-section .news-link {
	color: var(--BGCOLOR) ;
}
.testimonials .test-1 p::before {
	color: var(--BGCOLOR) ;
}
.testimonials .test-1 h3 {
	color: var(--BGCOLOR) ;
}
.owl-dot.active {
	background: var(--BGCOLOR)  !important;
}
.counterup .countr .fa {
	color: var(--BGCOLOR) ;
}
.realhome_subscribe input {
	border-color: var(--BGCOLOR) ;
}
.realhome_form_subscribe button {
	background: var(--BGCOLOR) ;
	border: 2px solid var(--BGCOLOR) ;
}
.first-footer .netabout h3::after,
.first-footer .navigation h3::after,
.first-footer .widget h3::after,
.first-footer .contactus h3::after {
	background-color: var(--BGCOLOR) ;
}
.first-footer .btn {
	background: var(--BGCOLOR) ;
}
.first-footer .btn:hover {
	background: transparent;
}
.navigation ul li a:hover {
	color: var(--BGCOLOR) ;
}
.twitter-widget.contuct .twitter-area .icon-holder i {
	color: var(--BGCOLOR) ;
}
.twitter-widget.contuct .twitter-area .text h4,
.inner-pages .twitter-widget.contuct .twitter-area .text h4 {
	color: var(--BGCOLOR) ;
}
.second-footer {
	background: var(--BGCOLOR) ;
}
.go-up {
	background: var(--BGCOLOR) ;
}
.main-search-field {
	background: var(--BGCOLOR) ;
}
.btn-default.btn-theme-colored2:hover {
	background: var(--BGCOLOR) ;
}
.text-theme-colored2 {
	color: var(--BGCOLOR)  !important;
}
.btn-dark.btn-theme-colored {
	background-color: var(--BGCOLOR) ;
}
.parallax-search .form-group .nice-select:hover {
	color: var(--BGCOLOR) ;
}
.parallax-search .form-group .nice-select i {
	color: var(--BGCOLOR) ;
}
.parallax-search .form-group .list li:hover {
	background: var(--BGCOLOR) ;
}
.parallax-search .form-group .btn {
	background: var(--BGCOLOR) ;
}
.inner-pages .blog .active-view-btn:hover {
	background: var(--BGCOLOR)  !important;
}
.inner-pages .change-view-btn:hover {
	color: var(--BGCOLOR)  !important;
}
.inner-pages .blog .block-heading .change-view-btn.lde:hover {
	background: var(--BGCOLOR) ;
}
.inner-pages .blog .section-heading .media .media-left i {
	background: var(--BGCOLOR) ;
}
.inner-pages .blog .main-search-field select {
	background: var(--BGCOLOR) ;
}
.inner-pages .blog .at-input {
	border: 2px solid var(--BGCOLOR) ;
}
.inner-pages .blog .ui-widget.ui-widget-content {
	background: var(--BGCOLOR) ;
}
.inner-pages .blog .hvr-bounce-to-right {
	background: var(--BGCOLOR) ;
}
.inner-pages .widget h5::after {
	background-color: var(--BGCOLOR) ;
}
.inner-pages .portfolio .footer i {
	color: var(--BGCOLOR) ;
}
.inner-pages .recent-post .tags a:hover {
	color: var(--BGCOLOR) ;
	border-color: var(--BGCOLOR) ;
}
.page-item.active .page-link {
    background: var(--BGCOLOR) ;
    border-color: var(--BGCOLOR) ;
}
.page-link {
    color: var(--BGCOLOR) ;
}
.inner-pages .blog .homes-content.details-2 .fa {
	color: var(--BGCOLOR) ;
}
.inner-pages .blog .sorting-options h5 {
	color: var(--BGCOLOR) ;
}
.inner-pages .blog .homes-content h5::after,
.inner-pages .blog .blog-info.details h5::after,
.inner-pages .blog .property-location h5::after,
.inner-pages .blog .team.assigned h5::after {
	color: var(--BGCOLOR) ;
	background-color: var(--BGCOLOR) ;
}
.inner-pages .blog .homes-content.details .fa {
	color: var(--BGCOLOR) ;
}
.inner-pages .button.alt {
	background-color: var(--BGCOLOR) ;
}
.inner-pages .agent-details a:hover {
	color: var(--BGCOLOR) ;
}
.inner-pages .agent-details .fa {
	color: var(--BGCOLOR) ;
}
.inner-pages .about-us .who-1 h2 span {
	color: var(--BGCOLOR) ;
}
.inner-pages .about-us .wprt-image-video .icon-wrap {
	background-color: var(--BGCOLOR) ;
}
.bg-2 .button {
    border-color: var(--BGCOLOR) ;
}
.inner-pages .panel .panel-heading a {
	background: var(--BGCOLOR) ;
}
.plan-price {
	background: var(--BGCOLOR) ;
}
.plan-price:after {
	border-top-color: var(--BGCOLOR) ;
}
.plan a.btn {
	background: var(--BGCOLOR) ;
}
.inner-pages .top-headings h2 {
	color: var(--BGCOLOR) ;
}
.inner-pages .port-info .btn {
	background: var(--BGCOLOR);
	border: 1px solid var(--BGCOLOR) ;
}
#login .btn_1, a.btn_1 {
    background: var(--BGCOLOR) ;
}
.inner-pages .blog .social .date {
	background-color: var(--BGCOLOR) ;
}
.blog-pots figure {
	background: var(--BGCOLOR) ;
}
.blog .blog-pots .fa {
	color: var(--BGCOLOR) ;
}
.btn-secondary {
	background: var(--BGCOLOR) ;
}
.single-blog-post .img-box .overlay {
	background: rgba(24, 186, 96, 0.8);
}
.inner-pages .form-control {
	border: 1px solid var(--BGCOLOR) ;
}
.inner-pages .input-group-btn .btn-primary {
	background: var(--BGCOLOR) ;
	border: 1px solid var(--BGCOLOR) ;
}
.inner-pages .input-group-btn .btn-primary:hover {
	color: var(--BGCOLOR) ;
}
.inner-pages .comments-info h5 {
	color: var(--BGCOLOR) ;
}
.inner-pages .comments h3::after,
.inner-pages .leve-comments h3::after {
	background-color: var(--BGCOLOR) ;
}
.inner-pages .leve-comments .btn {
	background: var(--BGCOLOR) ;
	border: 1px solid var(--BGCOLOR) ;
}
.inner-pages .leve-comments .btn:hover {
	border: 1px solid var(--BGCOLOR) ;
}
.inner-pages .contact-us .btn {
	background: var(--BGCOLOR) ;
	border: 1px solid var(--BGCOLOR) ;
}
.inner-pages .contact-us .btn:hover {
	border: 1px solid var(--BGCOLOR) ;
}
.inner-pages .call-info h3::after {
	background-color: var(--BGCOLOR) ;
}
.inner-pages .call-info ul li .fa {
	color: var(--BGCOLOR) ;
}
.inner-pages .single-add-property > h3 {
	color: var(--BGCOLOR) ;
}
.inner-pages .prperty-submit-button > button {
	background: var(--BGCOLOR)  none repeat scroll 0 0;
}
.leaflet-div-icon, .map-marker {
	background-color: var(--BGCOLOR) ;
	border: 5px solid var(--BGCOLOR) ;
}
.leaflet-div-icon:before, .map-marker:before {
	border-top-color: var(--BGCOLOR) ;
}
.listing-window-image:before {
	background-color: var(--BGCOLOR) ;
}
.listing-window-content h3 {
	background-color: var(--BGCOLOR) ;
}

.bg-all {
    position: relative;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    margin-top: 1.7rem;
    transition: all .3s ease;
}
@media screen and (max-width: 767px) {
    .bg-all {
        margin-top: 10px !important;
    }
}
.btn.btn-outline-light {
    background-color: var(--BGCOLOR) ;
    color: #fff;
    border-color: #fff;
    font-size: 16px;
    font-weight: bold;
	border-radius: 3rem;
	padding: .9rem 2.5rem .9rem 2rem;
    transition: all .3s ease;
}
.btn.btn-outline-light:hover {

    color: #fff;
    transition: all .3s ease;
}
.btn.btn-outline-light:after {
	content: '\f0a9';
	font-family: 'FontAwesome';
	position: relative;
	left: .5rem;
	transition: all .2s ease;
}
.btn.btn-outline-light:hover:after {
	left: 1rem;
    color: #fff;
	transform: rotateZ(-360deg);
}
section.pricing-table {
	padding: 6rem 0;
	background: #fff;
}
.blog-section .action-list .fa-comment {
    color: var(--BGCOLOR) ;
}
.blog-section .action-list .fa-share-alt {
    color: var(--BGCOLOR) ;
}
.blog-section .action-list .fa-heart {
    color: var(--BGCOLOR) ;
}
.section-title:before {
    background-color: var(--BGCOLOR) ;
}
.info-help .info-head .info-text .btn-pro {
    background: var(--BGCOLOR) ;
}
.slick-dots li.slick-active {
    box-shadow: inset 0 0 0 6px var(--BGCOLOR) ;
}
.slick-dots li {
    color: var(--BGCOLOR) ;
    box-shadow: inset 0 0 0 2px var(--BGCOLOR) ;
}
.slick-dots li:after {
    background-color: var(--BGCOLOR) ;
}
.newsletters p, 
.first-footer .netabout p {
    color: #666;
}
.first-footer .contactus .info p {
    color: #666;
}
.first-footer .contactus ul li .fa, .first-footer h3, .navigation ul li a, .twitter-widget.contuct .twitter-area .icon-holder i, .twitter-widget.contuct .twitter-area .text h5 {
    color: #333;
}
.first-footer .bloq-email .email input[type="email"] {
    border: 1px solid var(--BGCOLOR) ;
    background: #282d32;
    color: #fff;
}
.second-footer p {
    color: #666;
}
.second-footer p .fa-heart:before {
    color: var(--BGCOLOR) ;
}

.hp-6 .btn.btn-yellow {
	background-color: var(--BGCOLOR) ;
}

.hp-6 .btn, .homepage-3 .btn:active,
.hp-6 .btn.sApp-btn:before,
.hp-6 .bg-overlay::after,
.hp-6 .benifits-item:after {
  background: linear-gradient(-47deg, var(--BGCOLOR)  0%, var(--BGCOLOR)  100%);
}

.hp-6 a.btn.btn-yellow:hover {
	background: #fff !important;
	color: var(--BGCOLOR) ;
}

.hp-6 .rld-banner-tab .nav-item a.active,
.hp-6 .rld-banner-tab .nav-item a:hover,
.hp-6 .rld-banner-tab .nav-item a.active:before {
  background: var(--BGCOLOR) ;
}

.hp-6 .dropdown-filter span::after {
	color: var(--BGCOLOR) ;
}


.agents a.button.border,
a.button {
  background-color: var(--BGCOLOR) ;
  color: #fff !important;
}

.homepage-4 .homes-tag.featured {
	background: var(--BGCOLOR)  !important;
}

#navigation li a:hover,a:focus{
	background: var(--BGCOLOR)  !important;
	color: #fff !important;
}

#navigation li:hover,li:focus{
	background: var(--BGCOLOR)  !important;
	color: #fff !important;
}

.ui-elements .accordion-1 .active .title {
	background: var(--BGCOLOR)  !important;
	color: #fff;
}

.inner-pages .headings-2 .listing-title-bar h4 {
	color: var(--BGCOLOR) ;
}

.inner-pages .single-add-property > h3 {
	color: var(--BGCOLOR) ;
}

.ui-elements .button-tabs .tabs {
	
	background: var(--BGCOLOR)  !important;
	background-color: var(--BGCOLOR)  !important;
}

.ui-elements .button-tabs .tab-title {
	background: var(--BGCOLOR)  !important;
	background-color: var(--BGCOLOR)  !important;
}

.property-search-type label:hover,.property-search-type label.active {
	background-color: var(--BGCOLOR) !important;
	color: #fff !important;
}

.slider::-webkit-slider-thumb {
	background: var(--BGCOLOR)  !important;
}

.slider::-moz-range-thumb {
	background: var(--BGCOLOR)  !important;
}

.inner-pages.sin-1 a.button.border, a.button {
	background-color: var(--BGCOLOR) ;
	color: #fff !important;
}

.inner-pages .headings-2 span.category-tag {
	background: var(--BGCOLOR) ;
}

.agent-contact-form-sidebar .multiple-send-message {
	background-color: var(--BGCOLOR) ;
}

.sidebar-widget .author__contact li span i {
	color: var(--BGCOLOR) ;
}

h2 span {
	font-weight: 600;
	color: var(--BGCOLOR) ;
}

.login-and-register-form .custom-form .log-submit-btn {
	background: var(--BGCOLOR) ;
}

.login-and-register-form .close-reg {
	background: var(--BGCOLOR) ;
}

.login-and-register-form .main-register h3 span strong {
	color: var(--BGCOLOR) ;
}

.pagination-container .pagination .page-item .page-link {
	color: var(--BGCOLOR)  !important;
	
}

.pagination-container .pagination .page-item .page-link:hover {
	background: var(--BGCOLOR) ;
	color: #fff !important;
}

.homepage-1 .portfolio .footer i {
	color: var(--BGCOLOR);
}

a.button.border, a.button {
    background-color: var(--BGCOLOR) !important;
}

#navigation.style-1 ul li:hover {
    background-color: var(--BGCOLOR) !important;
    color: var(--BGCOLOR) !important;
}

.btn, .homepage-3 .btn:active, 
.btn.sApp-btn:before, 
.bg-overlay::after, 
.benifits-item:after {
    background: linear-gradient(-47deg, var(--BGCOLOR) 0%, var(--BGCOLOR) 100%);
}

.rld-banner-tab .nav-item a.active,
.rld-banner-tab .nav-item a:hover,
.rld-banner-tab .nav-item a.active:before {
    background: var(--BGCOLOR);
}

.btn.btn-yellow {
    background-color: var(--BGCOLOR);
}

.the-search .dropdown-filter span::after {
    color: var(--BGCOLOR);
}

.the-search .range-slider .ui-slider .ui-slider-handle {
	border: 2px solid var(--BGCOLOR);
}

.the-search .range-slider .ui-widget-header {
	background-color: var(--BGCOLOR);
}

.the-search .checkboxes input[type=checkbox]:checked + label:before {
	background-color: var(--BGCOLOR);
}

.homepage-9 .homes-tag.featured {
    background: var(--BGCOLOR) !important;
}

.homepage-9.homepage-4 a.button.border, a.button {
    background: var(--BGCOLOR);
}

.homepage-9 .portfolio .homes-content h3 a:hover,
.homepage-9 .blog-section .news-item h3:hover {
    color: var(--BGCOLOR);
}

.homepage-9 section.portfolio {
    background: var(--BGCOLOR);
}

.homepage-9 .fd-1 .slick-dots li:after {
    background: var(--BGCOLOR);
}


a.btn.btn-yellow:hover {
    color: var(--BGCOLOR);
}

.dashboard-bd a.button.border, a.button {
	background: var(--BGCOLOR) !important;
}


.btn-primary,.btn-common{
	background-color: var(--BGCOLOR)  !important;
	background: var(--BGCOLOR)  !important;
} */


/* root variables */
:root{
  --BGDARK: #0e0f21;
  --DARKCOLOR: #fff;
  --BGTRANSPARENT: transparent;
  /* color-scheme: normal; */
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --BGCOLOR-FADE: gray;
        --BGCOLOR: #FF385C;
    }
} */

/* @media (prefers-color-scheme: blue) {
    :root {
        --BGCOLOR-FADE: gray;
        --BGCOLOR: blue;
    }
} */


body{
	background: var(--BGDARK) !important;
	background-color: var(--BGDARK) !important;
	color: var(--DARKCOLOR) !important;
  }
  
  header a{
	color: var(--DARKCOLOR) !important;
  }

  a:active,a:hover,a:focus{
	background-color: var(--BGTRANSPARENT) !important;
  }

  section{
	background: var(--BGDARK) !important;
	background-color: var(--BGDARK) !important;
	color: var(--DARKCOLOR) !important;
	background-image: none;
  }
   
	p,h1,h2,h3,h4,h5,h6,span,i,div,a,hr.button,td{
			color: var(--DARKCOLOR) !important;
	}
	input,textarea{
		background: var(--BGDARK) !important;
		background-color: var(--BGDARK) !important;
		color: var(--DARKCOLOR) !important;
		border: 1px solid var(--DARKCOLOR) !important;
	}

	#contactform input,textarea,.textarea-custom{
		background: var(--BGDARK) !important;
		background-color: var(--BGDARK) !important;
		color: var(--DARKCOLOR) !important;
		border: 1px solid var(--DARKCOLOR) !important;
	}

  .bg-white-2{
	background: var(--BGDARK) !important;
	background-color: var(--BGDARK) !important;
	color: var(--DARKCOLOR) !important;
  }

  .project-single,.landscapes,.project-inner,.project-head{
	background: var(--BGDARK) !important;
	background-color: var(--BGDARK) !important;
	color: var(--DARKCOLOR) !important;
  }

  .homepage-1 .portfolio.full-l .homes-content{
	background: var(--BGDARK) !important;
	background-color: var(--BGDARK) !important;
	color: var(--DARKCOLOR) !important;
	border-radius: 30px;
  }

  .homepage-1 .portfolio.full-l .homes-content h3 a{
	color: var(--DARKCOLOR) !important;
  }

  .homepage-1 .portfolio.full-l .homes-content p,div,span,i{
	color: var(--DARKCOLOR) !important;
  }

  .bg-white-3{
	background: var(--BGDARK) !important;
	background-color: var(--BGDARK) !important;
	color: var(--DARKCOLOR) !important;
	border-radius: 30px;
  }

  .team-block .inner-box{
	background: var(--BGDARK) !important;
	background-color: var(--BGDARK) !important;
	color: var(--DARKCOLOR) !important;
  }

  .lower-box a,h3{
	color: white !important;
  }

  .first-footer .top-footer {
	background: var(--BGDARK) !important;
	background-color: var(--BGDARK) !important;
	color: var(--DARKCOLOR) !important;
  }

  .nice-select-search-box{
	background: var(--BGTRANSPARENT) !important;
	background-color: var(--BGTRANSPARENT) !important;
	color: var(--DARKCOLOR) !important;
  }
  .nice-select-search{
	background: var(--BGTRANSPARENT) !important;
	background-color: var(--BGTRANSPARENT) !important;
	color: var(--DARKCOLOR) !important;
	border: 2px solid var(--DARKCOLOR) !important;
  }
  .nice-select.select.single-select.open,.nice-select.select.single-select.open::before,.nice-select.select.single-select.open::after{
	background: var(--BGTRANSPARENT) !important;
	background-color: var(--BGTRANSPARENT) !important;
	color: var(--DARKCOLOR) !important;
  }

  .nice-select-dropdown .open{
	background: var(--BGTRANSPARENT) !important;
	background-color: var(--BGTRANSPARENT) !important;
	color: var(--DARKCOLOR) !important;
	border: 2px solid var(--DARKCOLOR) !important;
  }
  .rld-single-select select,span,div,input{
	background: var(--BGTRANSPARENT) !important;
	background-color: var(--BGTRANSPARENT) !important;
	color: var(--DARKCOLOR) !important;
  }

  .explore__form-checkbox-list{
	background: var(--BGDARK) !important;
	background-color: var(--BGDARK) !important;
	color: var(--DARKCOLOR) !important;
	border: 2px solid var(--DARKCOLOR) !important;
  }


  .nice-select-dropdown .list{
	background: var(--BGDARK) !important;
	background-color: var(--BGDARK) !important;
	color: var(--DARKCOLOR) !important;
	border: 2px solid var(--DARKCOLOR) !important;
  }

  .nice-select-dropdown .list li:hover{
	background: var(--BGCOLOR) !important;
	background-color: var(--BGCOLOR) !important;
  }
  .ui-elements .radio-option.checked .inner{
	color: var(--DARKCOLOR) !important;
	background-color: var(--DARKCOLOR) !important;
	background: var(--DARKCOLOR) !important;
  }

  .main-register {
	color: var(--DARKCOLOR) !important;
	box-shadow: 0px 0px 0px 8px rgb(255, 255, 255) !important;
	color: var(--DARKCOLOR) !important;
	background: var(--BGDARK) !important;
	background-color: var(--BGDARK) !important;
  }

  .main-register p,h1,h2,h3,h4,h5,h6,span,i,div,a,hr.button,label{
	color: var(--DARKCOLOR) !important;
  }

  .db-top-header{
	background: var(--BGDARK) !important;
	background-color: var(--BGDARK) !important;
  }

  .homes-content .font-weight-bold.mr-1{
	color: var(--DARKCOLOR) !important;
  }
  .homes-content span.det {
	color: var(--DARKCOLOR) !important;
  }


  /* ............................................ */
  header a:active,a:hover,a:focus{
	background-color: var(--BGCOLOR) !important;
	color: var(--DARKCOLOR) !important;
  }
  .header-user-menu ul {
	  background: var(--BGDARK) !important;
	  background-color: var(--BGDARK) !important;
	  border: 1px solid var(--DARKCOLOR);
  }
  .header-user-menu li {
	  background: var(--BGDARK) !important;
	  background-color: var(--BGDARK) !important;
	  border: 1px solid var(--DARKCOLOR);
	  
    }
	.header-user-menu ul button {
		color: var(--DARKCOLOR) !important;
	}

    li a{
		color: var(--DARKCOLOR) !important;
		background: var(--BGTRANSPARENT) !important;
		background-color: var(--BGTRANSPARENT) !important;
    }

	li a:hover,a:focus,a:active{
		color: var(--DARKCOLOR) !important;
		background: var(--BGCOLOR) !important;
		background-color: var(--BGCOLOR) !important;
	}

	li .active{
		color: var(--DARKCOLOR) !important;
		background: var(--BGCOLOR) !important;
		background-color: var(--BGCOLOR) !important;
	}

	footer a:active,a:hover,a:focus{
		background-color: var(--BGCOLOR);
		padding: 0.7rem;
		border-radius: 10px;
	}

	header a:active,a:hover,a:focus{
		background-color: var(--BGCOLOR) !important;
		padding: 0.7rem;
		border-radius: 10px;
	}

	#navigation ul li:hover ul a, #navigation ul ul a{
		color: var(--DARKCOLOR) !important;
	}

	#navigation ul li:hover ul, #navigation ul ul{
		background: var(--BGDARK) !important;
		background-color: var(--BGDARK) !important;
		border: 1px solid var(--DARKCOLOR);
	}

	.header-user-menu ul {
		background: var(--BGDARK) !important;
		background-color: var(--BGDARK) !important;
		border: 1px solid var(--DARKCOLOR);
	}
	.header-user-menu li {
		background: var(--BGDARK) !important;
		background-color: var(--BGDARK) !important;
		border: 1px solid var(--DARKCOLOR);
	}

	.pagination li a{
		color: var(--DARKCOLOR) !important;
		background: var(--BGTRANSPARENT) !important;
		background-color: var(--BGTRANSPARENT) !important;
	}

	.pagination li a:hover,a:focus,a:active{
		color: var(--DARKCOLOR) !important;
		background: var(--BGCOLOR) !important;
		background-color: var(--BGCOLOR) !important;
	}

	.pagination li .active{
		color: var(--DARKCOLOR) !important;
		background: var(--BGCOLOR) !important;
		background-color: var(--BGCOLOR) !important;
	}

	.reviews textarea,input{
		background: var(--BGTRANSPARENT) !important;
		background-color: var(--BGTRANSPARENT) !important;
		border: 1px solid var(--DARKCOLOR) !important;
	}

	.rld-main-search{
		background: var(--BGDARK) !important;
		background-color: var(--BGDARK) !important;
		/* color: #fff !important; */
	}

	.rld-main-search input,select{
		background: var(--BGTRANSPARENT) !important;
		background-color: var(--BGTRANSPARENT) !important;
		color: var(--DARKCOLOR) !important;
		/* border: 5px solid white !important; */
		box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.2);
	}

	.rld-main-search input,select ::placeholder{
	    color: var(--DARKCOLOR) !important;
	}

	.rld-banner-tab .nav-item a{
		background: var(--BGDARK) !important;
		background-color: var(--BGDARK) !important;
		border: 2px solid white !important;
		color: var(--DARKCOLOR) !important;
	}

	.rld-banner-tab .nav-item a:hover,a:focus{
		background: var(--BGCOLOR) !important;
		background-color: var(--BGCOLOR) !important;
		color: var(--DARKCOLOR) !important;
	}

	.rld-banner-tab .nav-item .active{
		background: var(--BGCOLOR) !important;
		background-color: var(--BGCOLOR) !important;
	}

	.autocomplete-items div {
		padding: 10px;
		cursor: pointer;
		background-color: var(--BGCOLOR);
		border-bottom: 1px solid #d4d4d4;
	}
	.autocomplete-items div:hover {
		/*when hovering an item:*/
		background-color: var(--BGLITE) !important;
	}
	.autocomplete-active {
		/*when navigating through the items using the arrow keys:*/
		background-color: DodgerBlue !important;
		color: #fff;
	}

	.nice-select-search-box{
		background: var(--BGCOLOR) !important;
		background-color: var(--BGCOLOR) !important;
		color: var(--DARKCOLOR) !important;
	}

	.property-search-type label {
		background-color: #fff;
		color: #fff !important;
		border: 3px solid white;

		
	}


	.slider::-webkit-slider-thumb {

	background: white !important;
	}

	.slider::-moz-range-thumb {
	
	background: white !important;
	}
	.banner-search-wrap #form label{
		color: #fff !important;
	}

	.sidebar textarea,input{
		background: var(--BGTRANSPARENT) !important;
		background-color: var(--BGTRANSPARENT) !important;
		border: 1px solid var(--DARKCOLOR) !important;
	}
	.sidebar h4,p,address{
	color: var(--DARKCOLOR) !important;
	}
	.sidebar span,i{
	background: var(--BGTRANSPARENT) !important;
	background-color: var(--BGTRANSPARENT) !important;
	}

	.property-search-type label {
	background-color: var(--BGDARK);
	border: 1px solid var(--DARKCOLOR);                
		
	}

	.bg-white{
	background: #0e0f21 !important;
	background-color: #0e0f21 !important;
	color: var(--DARKCOLOR) !important;
	border: 1px solid var(--DARKCOLOR) !important;
	}

	.dashborad-box .section-body .col-md-6{
	border: 1px solid var(--DARKCOLOR) !important;
	}

	.bg-white,.dropzone.dz-clickable,.heading{
	background: var(--BGDARK) !important;
	background-color: var(--BGDARK) !important;
	color: var(--DARKCOLOR) !important;
	}

	.shadow{
	border: 1px solid var(--DARKCOLOR) !important;
	}

	.my-properties th{
	color: var(--DARKCOLOR) !important;
	background: var(--BGDARK) !important;
	background-color: var(--BGDARK) !important;
	}

	.inner-pages .about-us .who-1 p{
		background: #0e0f21 !important;
		background-color: #0e0f21 !important;
		color: var(--DARKCOLOR) !important;
	}

	.inner-pages .team-content .team-info {
		background: #0e0f21 !important;
		background-color: #0e0f21 !important;
		color: var(--DARKCOLOR) !important;
	}

	section.testimonials {
		background: #0e0f21 !important;
		background-color: #0e0f21 !important;
		color: var(--DARKCOLOR) !important;
	}

	.inner-pages section.portfolio{
		background: #0e0f21 !important;
		background-color: #0e0f21 !important;
		color: var(--DARKCOLOR) !important;
		/* border: 1px solid var(--DARKCOLOR) !important; */
	}
	.inner-pages .portfolio .homes-content {
		background: #0e0f21 !important;
		background-color: #0e0f21 !important;
		color: var(--DARKCOLOR) !important;
	}

	.agent-mb{
	box-shadow: 0 4px 12px rgb(252, 252, 252);
	}

	.inner-pages section.faq{
	background: #0e0f21 !important;
	background-color: #0e0f21 !important;
	color: var(--DARKCOLOR) !important;
	}

	.inner-pages .portfolio .homes-content .Det{
			
	color: var(--DARKCOLOR) !important;
	}

	.homes-list .font-weight-bold,.det{
		color: var(--DARKCOLOR) !important;
	}

	.homes-list span{
		color: var(--DARKCOLOR) !important;
	}

	.ui-elements .checkbox-option,
.ui-elements .radio-option {
  
  border: 1px solid var(--DARKCOLOR) !important;
}

.ui-elements .checkbox-option.checked .inner {
	background: var(--DARKCOLOR) !important;
}